torch
torchaudio
transformers<4.50
datasets
tqdm
pandas
pympi-ling
librosa
pyannote.audio
matlab
unidecode
speechbrain
epitran
peft
jiwer
https://github.com/kpu/kenlm/archive/master.zip
nemo_toolkit[all]
PyYAML==6.0.2
tbparse
