absl-py==1.4.0
accelerate==0.22.0
aiohttp==3.8.5
aiosignal==1.3.1
altair==4.1.0
arviz==0.17.1
async-timeout==4.0.3
attrs==21.2.0
audioread==3.0.0
backcall==0.2.0
beautifulsoup4==4.12.2
cachetools==5.2.0
certifi==2022.12.7
cffi==1.15.0
charset-normalizer==3.0.1
chex==0.1.82
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.4
cons==0.4.6
cycler==0.11.0
datasets==2.14.4
debugpy==1.4.1
decorator==5.0.9
dill==0.3.7
entrypoints==0.3
et-xmlfile==1.1.0
etils==1.4.1
etuples==0.3.9
evaluate==0.4.0
fastprogress==1.0.3
ffmpeg-python==0.2.0
filelock==3.9.0
flax==0.7.2
fonttools==4.28.5
frozenlist==1.4.0
fsspec==2023.9.0
future==0.18.2
gdown==4.7.1
h5netcdf==1.3.0
h5py==3.11.0
huggingface-hub==0.16.4
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.1
ipykernel==6.3.1
ipython==7.27.0
ipython-genutils==0.2.0
jax==0.4.14
jaxlib==0.4.14
jedi==0.18.0
Jinja2==3.0.2
jiwer==3.0.2
joblib==1.1.0
jsonschema==4.1.2
jupyter-client==7.0.2
jupyter-core==4.7.1
kiwisolver==1.3.2
lazy_loader==0.3
Levenshtein==0.21.1
librosa==0.10.1
lineedit==0.1.6
llvmlite==0.36.0
logical-unification==0.4.6
markdown-it-py==3.0.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.2
mdurl==0.1.2
minGPT @ git+https://github.com/karpathy/minGPT@37baab71b9abea1b76ab957409a1cc2fbfba8a26
miniKanren==1.0.3
ml-dtypes==0.2.0
mpi4py==3.1.4
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multipledispatch==1.0.0
multiprocess==0.70.15
nest-asyncio==1.5.1
networkx==3.1
numba==0.53.1
numpy==1.25.2
openpyxl==3.0.10
opt-einsum==3.3.0
optax==0.1.7
orbax-checkpoint==0.3.5
packaging==24.1
pandas==2.2.2
parso==0.8.2
pefile==2022.5.30
pickleshare==0.7.5
Pillow==9.0.0
platformdirs==3.10.0
pooch==1.7.0
prompt-toolkit==3.0.20
protobuf==4.24.3
psutil==5.9.5
py2exe==0.12.0.0
pyarrow==13.0.0
pycparser==2.21
pydub==0.25.1
Pygments==2.16.1
pymc==5.12.0
pympi-ling==1.70.2
pyparsing==3.0.6
pyrsistent==0.18.0
PySocks==1.7.1
pytensor==2.19.0
python-dateutil==2.9.0.post0
pytz==2021.1
pywin32==301
PyYAML==6.0
pyzmq==22.2.1
radian==0.5.12
rapidfuzz==2.13.7
rchitect==0.3.34
regex==2022.10.31
requests==2.28.2
responses==0.18.0
rich==13.5.2
s3prl==0.4.15
safetensors==0.3.3
scikit-learn==1.0.2
scipy==1.11.2
six==1.16.0
sklearn==0.0
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.6
sympy==1.12
tensorstore==0.1.42
threadpoolctl==3.0.0
tokenizers==0.13.2
tomli==2.0.1
tomli_w==1.0.0
toolz==0.11.1
torch==2.0.1
torchaudio==2.0.2
tornado==6.1
tqdm==4.64.1
traitlets==5.1.0
transformers==4.32.1
typing_extensions==4.4.0
tzdata==2024.1
Unidecode==1.2.0
urllib3==1.26.14
wcwidth==0.2.5
xarray==2024.6.0
xarray-einstats==0.7.0
xxhash==3.3.0
yarl==1.9.2
zipp==3.16.2
zugubul==0.2.0
